<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="C:\repo\WeatherDashboard\WeatherDashboard.Api\logs\logfile-${shortdate}.txt"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>

  <rules>
    <!-- Suppress Microsoft.AspNetCore logs below Warning level -->
    <logger name="Microsoft.AspNetCore.*" minlevel="Warning" writeTo="file" />

    <!-- Suppress logging from Microsoft.AspNetCore -->
    <logger name="Microsoft.AspNetCore.*" minlevel="Off" writeTo="file" />
    
    
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>